<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.growingitskill.mapper.TagRelationMapper">
	<resultMap type="postVO" id="resultPost">
		<id property="id" column="id" />
		<collection property="tags" ofType="TagVO" resultMap="resultTag" />
	</resultMap>

	<resultMap type="tagVO" id="resultTag">
		<id property="id" column="id" />
	</resultMap>

	<insert id="createTagRelation">
		INSERT INTO tag_relation(post_id, tag_id) VALUES
		<foreach collection="tagList" item="item" index="index"
			separator=",">(#{id}, #{item.id})</foreach>
	</insert>
</mapper>