<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.growingitskill.mapper.TagRelationMapper">
	<resultMap type="postVO" id="resultPost">
		<id property="id" column="id" />
		<collection property="tags" ofType="TagVO" resultMap="resultTag" />
	</resultMap>

	<resultMap type="tagVO" id="resultTag">
		<id property="id" column="id" />
	</resultMap>

	<insert id="create">
		INSERT INTO tag_relation(post_id, tag_id) VALUES
		<foreach collection="tagList" item="item" index="index"
			separator=",">(#{id}, #{item.id})</foreach>
	</insert>

	<delete id="deleteByPostIdAndNotInTagTerms">
		DELETE FROM tag_relation WHERE post_id = #{postId}
		AND tag_id IN
		(SELECT id FROM (SELECT id FROM tag WHERE id IN (SELECT
		tag_id FROM
		tag_relation WHERE post_id = #{postId}) AND term NOT IN
		<foreach collection="tagTerms" item="item" index="index" open="("
			separator="," close=")">#{item}</foreach>
		) AS t);
	</delete>
</mapper>